.navbar{
    background-color: #8381C0;
    padding-left: 5rem;
    padding-right: 5rem;
}

/* media query  */
@media screen and (max-width:1100px) {
	.navbar{
		padding-left: 0rem;
		padding-right: 0rem;
	}
}
/* color of a tag */
.navbar a{
	color: aliceblue;
}
/* tabs */
.navbar-nav{
    font-family:'Comfortaa', cursive;
    font-size: 1rem;
}
/* navbar hover effect */
.navbar-nav a:hover{
	text-decoration:underline;
	color:white;
}
.dropdown-menu{
	background-color:#8381C0;
}
.dropdown-item:hover{
	background-color:#8381C0;
}
/* brand-name styling */
.navbar-brand span{
	display: inline-block;
	font-size: 1.7rem;
	font-family:'Mochiy Pop P One', sans-serif;
	font-weight: normal;
}
/* brand image styling */
.navbar-brand img{
	padding-bottom: 2%;
}
/* search button */
.btn{
	color:whitesmoke;
	margin-right: 2%;
}
/* visted liink color */
.navbar-nav a:visited{
	color:whitesmoke
}
/* picture styling */
/* header part*/
.head-image{
    height:85vh;
    background-image: url("Images/B2.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 1;
}
/* top section  */
.top-content{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: unset;
    margin-left: 10rem;
}
/* 1st line styling */
.intro-text{
	font-family: "Montserrat", sans-serif;
    color: royalblue;
    font-size: 1.5rem;
    margin-top: 15rem;
}
/* heading of the front image */
.head-text {
    font-family:'Comfortaa', cursive;
    width: 53rem;
    color:whitesmoke;
}
/* details of head image */
.cap{
    font-family:'Comfortaa', cursive;
    font-size: 1rem !important;
    width: 53rem;
    color: whitesmoke;
}
/* media queery for screen width less than 850px */
@media screen and (max-width:950px) {
    .top-content{
        margin-left: 1rem;
    }
    .head-text,.cap{
        width:45rem;
    }

}
@media screen and (max-width:750px) {
    .head-text,.cap{
        width: 85%;
    }
}
@media screen and (max-width:400px) {
    .cap{
        opacity: 0;
    }
    .b1{
        opacity: 0;
    }
}
/* main content */
main{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    font-family:'Comfortaa', cursive;
}
@media screen and (max-width:1100px) {
    main{
        margin-left:2rem;
        margin-right:2rem;
    }
}
.image{
    position: relative;
    display:flex;
    justify-content: center;
}
.image img{
    max-width: 100%;
    max-height: 100%;
}
.tex{
    position: absolute;
    top:24rem;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    color:whitesmoke;
    opacity:0;
    transition: 1s ease-in-out;
}
.tex:hover{
    opacity: 1;
}
@media screen and (max-width:768px) {
    .tex{
        opacity: 0;
    }
}
.car{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    border:none;
    border-left: 3px solid #f8f9fa;
}
.card a{
    text-decoration: none;
    color: unset;
}
.comm{
    width: 100%;
}
.textbox{
    display: inline-block;
    width: 50%;
}
.textbox{
    vertical-align: top;
}
.textbox textarea{  
    width: 70%;
    height: 20vh;
    box-sizing: border-box;
    padding: 1rem;
}
.post{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.post a{
    text-decoration: none;
    color: unset;
}
.prev-post{
    width:40%;
}
.prev-post img{
    width:100%
}
/* footer */
footer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 50%;
	align-items: center;
	justify-content: space-evenly;
	color:whitesmoke;
	background-color:#212529;
	font-family:'Comfortaa', cursive;
}
.foot-logo{
	width: 26rem;
	margin: 1rem;
}
.foot-logo img{
	width:80%
}

footer a{
	color: whitesmoke;
	text-decoration: none;
}
footer ul{
	list-style:none;
	padding-left: 0%;
}
.useful-links,.Support{
	margin-top: -9%;
}

#social-media{
	display:flex;
	flex-direction:column;
	flex-wrap: wrap;
	margin-bottom: -1.1%;
	justify-content: space-around;
}
#social-media li{
	display: inline-block;
	padding: 0.3rem;
	font-size: 1.8rem;
}
@media screen and (max-width:1240px) {
	.useful-links{
		margin-top: 0%;
	}
	.Support{
		margin-top: 0%;
	}
}