body {
    background-color: #00CCF5;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.main-heading {
	text-align: center;
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 800;
    color: #373737;
	margin-bottom: 2rem;
	margin-top: -2rem;
}
/* Navigation Bar */

.navbar {
    padding: 0 0 2rem;
}

.logo-navbar {
    height: 3rem;
    position: relative;
    top: 1px;
    padding-right: 0.4rem;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 0.2rem;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
}

.navbar-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* Details Container */

.details-container {
    padding: 2%;
    background-color: #8381C0;
    margin-bottom: 5%;
    color: #FFDA0A;
}

.selling-price {
    margin-bottom: 8px;
}

/* Select Container  */

.select-container {
    padding: 2%;
    background-color: #8381C0;
    margin-bottom: 5%;
}

.select-option {
    padding-top: 1.5rem;
}

.confirm-button {
    margin-top: 6rem;
    margin-left: 7.65rem;
}

/* Book Selling Guide */

.guide {
    padding: 3%;
    background-color: #8381C0;
}

.guide-container {
    padding: 0;
}

.paragraph-style-1 {
    color: #FFDA0A;
}

.sell-books-illustration {
    width: 75%;
}
.illustration {
    text-align: center;
}

/* footer */
footer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 50%;
	align-items: center;
	justify-content: space-evenly;
	color:whitesmoke;
	background-color:#212529;
	font-family:'Comfortaa', cursive;
}
.foot-logo{
	width: 26rem;
	margin: 1rem;
}
.foot-logo img{
	width:80%
}

footer a{
	color: whitesmoke;
	text-decoration: none;
}
footer ul{
	list-style:none;
	padding-left: 0%;
}
.useful-links,.Support{
	margin-top: -9%;
}

#social-media{
	display:flex;
	flex-direction:column;
	flex-wrap: wrap;
	margin-bottom: -1.1%;
	justify-content: space-around;
}
#social-media li{
	display: inline-block;
	padding: 0.3rem;
	font-size: 1.8rem;
}
@media screen and (max-width:1240px) {
	.useful-links{
		margin-top: 0%;
	}
	.Support{
		margin-top: 0%;
	}
}